.loginheader{
    display: flex;
    background-color: #3b5998;
    max-height: 70px;
}

.loginheader__logo{
max-height: 70px;
margin-left: 20%;
margin-right: 40%;
}

.loginheader__login{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.loginheader__loginbutton{
    background-color: #466ab6;
    color: white;
    font-weight: 600;
}

.loginheader__field{
    margin-right: 20px;
}
