.loginpage{
    /* background: linear-gradient( #ffffff, #ffffff,#ffffff,#3b5998) */
    background-color:#e9ebee;
    
}
.loginpage__middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Helvetica;
}