.loginleft{
    padding-left: 200px;
    padding-top: 75px;
}
.loginleft__connect{
    color: black;
}

.loginleft__dullfont{
    margin-top: 2px;
    margin-left: 10px;
    color: rgba(2, 2, 2, 0.349);
}
.loginleft__text{
    margin-left: 80px;
    padding-top: 30px;
}
.longleft__pics{
    max-height: 100px;
    max-width: 100px;
    margin-right: 50px;
    margin-top: 5px;
    position: relative;
    top: 45px;
    left: 15px;
}
.longleft__pics1{
    max-width: 160px;
    position: relative;
    left: -20px;
    top: 75px;
}
.loginleft__boldfont{
    position: relative;
    top: -100px;
}

