.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.timeline__postbox{
    width: 600px;
    height: 100px;
}

.timeline__postbutton{
    width: 550px;
    margin-left: 30px;
    background-color: #3b5998;
    color: white;
    font-weight: 600;
}

.timeline__posts{
    padding: 25px;
    justify-content: space-between;
    padding: 100px;
    max-width: 600px;
    
}

.timeline__posts__name{
    color: #3b5998;
    font-weight: 700;
}

.timeline__timelineposts{
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}
.timeline__lcs{
    background-color: white;
    color: #3b5998;
    align-items: center;
    margin-left: 90px;
    margin-top: 60px;
    border: white;
    font-weight: 700;
}

.timeline__Name{
    display: flex;
}

.timeline__break{
    margin-left: -25px;
    margin-top: 50px;
    background-color: rgb(219, 228, 231);
    height: 20px;
    width: 600px;
    border: none;
}

.timeline__buttons{
    display: flex;
    justify-content: space-between;
}

.timeline__commentBox{
    width: 540px;
    border-radius: 20px;
    height: 30px;
    background-color: rgb(219, 228, 231);
    border: none;
    padding: 3px;
    padding-left:10px
}

.timeline__sharePic{
    height:20px;
}