.likebutton__likebutton{
    width: 70px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#3b5998;
    background-color: white;
    border: none;
    font-weight: 750;
}

.likebutton__thumb{
    width: 20px;
}

.likebutton__thumbsUp{
    width: 20px;
}

.likebutton__likebutton2{
    width: 70px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#3b5998;
    background-color: white;
    border: none;
    font-weight: 800; 
}

.likebutton__liked{
    color: #3b5998;
    font-weight: 650;
    position: relative;
    top: -50px;
}