.homeads__icon{
    max-width: 20px;
    margin-right: 5px;
}

.homeads__iconsText{
    background-color: white;
    /* padding: 20px; */
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    color: grey;
}